*{margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;color: inherit;}
body  {background-color: #fafafa;}
 
/* 헤더 */
header {width: 100%;background-color: white;border-bottom: 1px solid;height: 80px;display: flex;justify-content: center;align-items: center;}
header .header-content {width: 1200px;display: flex;justify-content: space-between;align-items: center;}
header .header-content img {width: 100px;}
header .header-content nav a { width: 100px;height: 40px; border-radius: 15px;line-height: 40px;text-align: center;padding: 10px; background-color: #ffffff;color: #333;}

/* 폼 */
.form-box {display: flex;justify-content: center;align-items: center;height: calc(100vh - 80px);width: 100%;}
.form-box form {border-radius: 15px; display: flex;gap: 15px;justify-content: center;align-items: center;flex-direction: column; width: 450px;height: 550px;background-color: white;box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);}
.form-box form > h3 {font-size: 22.5px;color: #333;margin-bottom: 30px;}
.form-box form > div {display: flex;gap: 10px;}
.form-box form > div > p {color: #919191;}
.form-box form > div > a {color: #000000;font-weight: 500;}
.form-box form label {display: block;width: 80px;}
.form-box form input {padding: 10px;border: 1px solid #b1b1b1;width: 300px;border-radius: 5px;}
.form-box form button {background-color: #333;color: white;border-radius: 7.5px;padding: 10px;border: 0;margin-top: 30px;}
